:root{
   --primary: #39115f;
   --backgr: #c9f1a3;
   --secondary:  #d79922;
}

body {
  margin: 40px;
  background-color: var(--backgr);
  font-family:'Press Start 2P', cursive ;
}


	.content {
    grid-area: content;
	}

	.header {
    color: black;
    grid-area: header;
    text-decoration: none;
    font-size: 2.5rem;
	}

	.footer {
		grid-area: footer;
	}

.main_name{
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.5em;
  justify-content: center;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.6px var(--primary);
  /* -webkit-text-stroke: 1px rgba(0,0,0,1); */
}
.smaller{
  font-size: 3vw;
  line-height: 1.5em;
}
.main_name:hover{
  color: var(--primary);
  -webkit-text-stroke: 0.6px var(--primary);
}
	.wrapper {
    margin-left: 60px;
    width: calc(100vw - 140px);
    height: calc(100vh - 80px);
		display: grid;
    grid-gap: 10px;
		grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 1fr 0.2fr;
		grid-template-areas:
    "header header"
		"content content"
		"footer  footer";
  }
  ul{
    list-style-type: none;
    margin:0;
    padding: 0 0 0 10px ;
    
  }
  li{
    display: inline;
    font-weight: 800;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 0.6px var(--secondary);;
  }
  li:hover{
    /* color: var(--secondary); */
    -webkit-text-stroke: 1px var(--primary);
  }

  .i-portfolio{
    cursor: url("../images/portfolio-min.png"), auto;
  }
  .i-profile{
    cursor: url("../images/profile-min.png"), auto;
  }
  .i-contact{
    cursor: url("../images/email-min.png"), auto;
  }
.box {
  padding: 25px 10px 10px 40px;
  /* border: 3px solid; */
  border-style: dotted none;
  border-width: 3px;
  border-color: var(--secondary);
}

.sidetext{
  position: fixed;
  top: 130px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-animation: marquee 16s linear infinite;
    font-size: 12px;
    margin-right: 50px;
    color: var(--primary);
    /* -webkit-text-stroke: 0.6px#d79922; */
}
@-webkit-keyframes marquee {
  from {
    transform: translate(0, -150%);
  }
  to {
    transform: translate(0, 150%);
  }
}

.social{
  font-size: 1.5rem;
  cursor: pointer;
}
.credits{
  color:var(--primary);
  margin-left: 10px;
  margin-top: 20px;
  font-size: 0.5rem;
  cursor: pointer;
}
title{
  color: #fff;
}

a{
  text-decoration: none;
  cursor: inherit;
  color: inherit;
  -webkit-text-stroke: inherit;
  font-size: inherit;
  line-height: inherit;
}

.hidden{
  display: none;
}

#blinker{
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color: var(--primary);    }
  49%{    color: var(--primary); }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: var(--primary);    }
}

@media screen and (max-width: 600px) {
  li {
    float: none;
  }
  .header{
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
  ul{
    text-align: center;
  }
  .box{
    padding: 10px;
  }
  .content{
    text-align: center;
  }
  .footer{
    text-align: center;
    font-size: 0.8rem;
  }
  .social{
    font-size: 1rem;
    line-height: 2.5rem;
  }
  .credits{
    line-height: 0.5rem;
  }
}


/* body{
    width: 100%;
    height: 4000px;
    background-color: white;
  }
  
  .main_name{
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    left: 10%;
    top: 43%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    color: #7CA660;
    white-space: nowrap;
    
  }
  
  .circular-text{
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top:33%;
    left:49%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 32px;
    font-weight: lighter;
    transition: 0.5s ease-out;
    -webkit-animation: rotation 8s infinite ease-in-out;
     -webkit-text-stroke: 1px rgba(255,255,255,1); 
  }
  @-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
  
  .arrow{
    position: fixed;
    color: white;
    font-family: 'Raleway', sans-serif;
    top:47%;
    left:47.5%;
    transform: translate(-50%, -50%);
    -moz-transform-duration: 4000ms;
    -webkit-transform-duration: 4000ms;
    -o-transform-duration: 4000ms;
    -transform-duration: 4000ms;
    -ms-transform-duration: 4000ms;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  
  body{
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

  .addition{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    font-size: 2vw;
    color: white;
    white-space: nowrap;
    left: 900px;
    top: 1450px;
    transform: rotate(90deg);
  } */
