$min_width: 300;
$max_width: 1980;
$mob_min_width: 300;
$mob_max_width: 790;
$tab_min_width: 790;
$tab_max_width: 1340;
$min_font: 56;
$max_font: 110;

.about-list{
    display: flex;
    flex-wrap: wrap;
    height: 420px;
}

.about{
    display: block;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0px 20px 15px 20px;
    border: 1px solid #ffffff;
    border-radius: 12px;
    max-width: 320px;
    min-width: 260px;
    color: white;
    height: fit-content;
    transition: all 0.3s ease-in-out;
}

.blog-link{
    color: #ffffff;
    border-bottom: 0.5px solid #000 ;
}
.about:hover{
    background-color: #000;
    filter: invert(1);
}

.invert{
    background-color: #000;
    filter: invert(1);
}

.invert:hover{
    color: #ffffff;
    background-color: transparent;
    border-bottom: 0.5px solid #ffffff ;
}

@media (min-width: #{$mob_min_width}px) and (max-width: #{$mob_max_width}px){
    .about-list{
        margin-top: 60px;
        width: 85vw;
        height: max-content;
    }

}