.portfolio{
  margin: 0;
  padding: 0;
  height: 420px;
}

.white{
  color: #FFFFFF;
}

.col-2{
  display: flex;
  column-gap: 5px;
}

.row-3{
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.arrows{
  margin: -15px 0;
  padding-left: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  filter: invert(1);
  justify-content: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &.left{
    color: #000000;
  }
  &.middle{
    margin-left: 45px;
  }
  &.middle:hover{
    margin-left: 55px;
  }
  &.right{
    margin-left: 65px;
  }
}

.with-image{
  transition: all 0.2s ease-in-out;
  &:hover:nth-child(1){
    // color: white;
    background-image: url("../images/code.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px;
  }
  &:hover:nth-child(2){
    // color: white;
    background-image: url("../images/ulsan.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px;
  }
}

.proj-image{
  position: relative;
  width: 550px;
  height: 420px;
  display: block;
}

.proj-content{
  overflow-y: hidden;
  width: 400px;
  height: 400px;
  padding-left: 30px;
  display: block;
  justify-content: center;
  align-items: center;
  white-space: initial;
}


.img-carousel{
  overflow-y: hidden;
  max-height: 420px;
  min-width: 320px;
  //border-radius: 36px;
  border-bottom-left-radius: 256px;
  border-top-right-radius: 256px;
  transition: border-radius 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
}

.blink{
  border-bottom-left-radius: 256px*2;
  border-top-right-radius: 256px*2;
}

.img-zoom-in{
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.img-zoom-in:hover{
  transform: scale(1.05);
}

.project-detail{
  margin: 0;
  padding: 0;
  margin-top: -21px;
  position: relative;  
  .project-detail-img{
    width: 100%;
    position: absolute;
    overflow: hidden;
    .detail-img{
      img{
        position: absolute;
        width: 100%;
      }
    }  
  } 
}



.img-zoom-in:hover .img-overlay{
  opacity: 1;
}

.but-arr{
  background-color: transparent;
  border: none;
}

.portfolio-title{
  font-size: 42px;
  color: transparent;
  -webkit-text-stroke: 0.5px #d0ff00;
  mix-blend-mode: difference;
  vertical-align: middle;
  &.text-underlined{
    width: max-content;
    border-bottom: 1px solid #d0ff00;
  }
}

.portfolio-description{
  font-size: 16px;
}

.portfolio-tools{
  width: fit-content;
  font-size: 14px;
  mix-blend-mode: difference;
  border: solid 1px #FFFFFF;
  border-radius: 4px;
  padding: 4px 6px;
}

.portfolio-link{
  filter: invert(1);
}

.type-tag{
  font-size: 12px;
  font-weight: 500;
  color: #16697a;
  border: solid 1px #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 4px;
}

.mar{
  margin-top: 5px;
}

.visit-arrow{
  -webkit-text-stroke: 1px #FFB26A;
  // color: #FFB26A;
}

@media (min-width: #{$mob_min_width}px) and (max-width: #{$mob_max_width}px){
  .div2{
    overflow-x: hidden;
  }
  .portfolio{
    margin: 0;
    height: max-content;
    width: 100vw;
    display: flexbox;
    margin-bottom: 30px;
    justify-content: center;
    overflow-x: hidden;
  }
  .col-2{
    margin-top: 60px;
    display: inline-block;
  }
  .img-carousel{
    max-width: 86vw;
    border-bottom-left-radius: 192px;
    border-top-right-radius: 192px;
  }
  .blink{
    border-bottom-left-radius: 192px*2;
    border-top-right-radius: 192px*2;
  }
  .portfolio-title{
    font-size: 32px;
  }
  .portfolio-description{
    font-size: 16px;
  }
  .portfolio-tools{
    font-size: 14px;
  }
  .proj-image{
    height: auto;
    object-fit: cover;
  }
  .row-3{
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .proj-content{
    position: relative;
    padding-left: 10px;
    height: max-content;
    max-width: 85vw;
    overflow-y: visible;
  }
  .arrows{
    padding-left: 10px;
    position: absolute;
    margin: -30px 0;
  }
  .reverse-col{
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
  }
}