$min_width: 400;
$max_width: 800;
$min_font: 18;
$max_font: 48; 
:root{
    --primary: #FAF1CF;
    --secondary:#3F6844;
    --backgr: #5DAA68;
    --border: #FAF1CF90;
    --shadow:#FAF1CF70;
    --info:#3F684495;
    cursor: url("./components/images/cursor.png"), auto;
 }
//  --primary: #05386b;
//     --secondary: #edf5e1;
//     --backgr: #5cdb95;
//     --border: #8ee4af;
//     --shadow: #379683;
//     --info: #379683;

// --primary:#6fb3b8;
//     --secondary:  #388087;
//     --backgr: #f6f6f2;
//     --border: #badfe7;
//     --shadow: #badfe7;
//     --info: #379683;
 
 body {
  /* background-image: url("./components/images/p-texture2.jpg");
  background-size: contain;
  background-position: center center; */
   margin: 30px;
   background: var(--backgr);
   font-family:'Press Start 2P', cursive ;
 }
 
 
.content {
  grid-area: content;
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  color: var(--secondary);
  grid-area: header;
  text-decoration: none;
  font-size: 2.5rem;
  flex-direction: row;
}

.footer {
  color: var(--secondary);
  display: flex;
  grid-area: footer;
  flex-direction: row;
}
 
.main_name{
  font-size: #{$max_font}px;
   font-weight: 700;
   line-height: 1.5em;
   justify-content: center;
   color: rgba(0, 0, 0, 0);
   -webkit-text-stroke: 0.6px var(--primary);
   /* -webkit-text-stroke: 1px rgba(0,0,0,1); */
 }
 
.wrapper {
  margin-left: 60px;
  width: calc(100vw - 120px);
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0.15fr 0.05fr 1fr 0.1fr;
  grid-template-areas:
    "header"
    "content"
    "content"
    "footer";
}
   ul{
     list-style-type: none;
     margin:0;
     padding: 0 0 0 0px;
   }
   li{
     display: inline-flex;
     flex-direction: row;
     font-weight: 800;
     margin-right: 40px;
     margin-top: 20px;
     margin-bottom: 5px;
     transition: text-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
     cursor: url("./components/images/pointer.png"), auto;
   }
   li:hover{
     /* color: var(--secondary); */
     /* -webkit-text-stroke: 1px var(--primary); */
     transform: translate(-3px, -3px);
     text-shadow: 5px 5px var(--shadow);
   }
   .active{
    transform: translate(-1.5px, -1.5px);
    text-shadow: 2.5px 2.5px var(--shadow);
   }
 
 .box {
   padding: 0px 10px 10px 10px;
   margin-bottom: 15px;
   /* border: 3px solid; */
   border-style: dotted none;
   border-width: 3px;
   border-color: var(--border);
 }
 .p-title{
   text-align: center;
   margin-top: 30px;
   margin-bottom: -5px;
   color: var(--info);
 }
 .sidetext{
   font-family: 'Work Sans', sans-serif;
   font-weight: 500;
   position: fixed;
   top: 130px;
   writing-mode: vertical-rl;
   -webkit-animation: marquee 16s linear infinite;
    font-size: 18px;
    font-kerning: auto;
    letter-spacing: 0.05rem;
    margin-right: 50px;
    color: var(--primary);
    /* -webkit-text-stroke: 0.6px#d79922; */
 }
 @-webkit-keyframes marquee {
   from {
     transform: translate(0, -170%);
   }
   to {
     transform: translate(0, 170%);
   }
 }
 
 .social{
   font-size: 1.5rem;
 }
 .credits{
   display: block;
   color: var(--primary);
   margin-left: 10px;
   font-size: 0.5rem;
   cursor: url("./components/images/pointer.png"), auto;
 }
 title{
   color: #fff;
 }
 
 a{
   text-decoration: none;
   cursor: inherit;
   color: inherit;
   -webkit-text-stroke: inherit;
   font-size: inherit;
   line-height: inherit;
 }
 
 .hidden{
   display: none;
 }
 
 
 .portfolio{
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    /* justify-content: space-between; */
 }
.work{
  width: 300px;
  min-width: 240px; 
  margin-right: 40px;
  margin-bottom: 40px;
}
 

 .badge {
  display: inline-block;
  padding: 0.3em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .badge {
    transition: none;
  }
}
.badge-secondary {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: var(--secondary);
}
h5{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.card{
  margin-top: 25px;
  padding: 15px 30px 25px 30px;
  background-color: var(--primary);
  border-width: 3px;
  border-style: solid;
  border-color: var(--border);
  transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.card:hover{
  transform: translate(-5px, -5px);
  box-shadow: 8px 8px var(--secondary);
}


h4{
  line-height: 1.5rem;
}

.buttn{
  border-style: solid;
  border-color: var(--secondary);
  color: var(--secondary);
  padding: 12px 18px;
  background-color: #00000000;
  font-family:'Press Start 2P', cursive ;
  cursor: url("./components/images/pointer.png"), auto;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.buttn:hover{
  color: var(--primary);
  background-color: var(--secondary);
  border-color: #00000000;
}
.profile-sec{
  display: flex;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
.profile-img{
  width: 252px;
  height: 326px;
  margin-right: 40px;
}
.profile-info{
  display: block;
  line-height: 1.8rem;
  max-width: 350px;
  color: var(--primary);
  margin-right: 100px;
}

h4{
  font-weight: normal;
}

@media screen and (max-width: #{$max_width}px) {
  .body{
    margin: 20px 20px 20px 20px;
    justify-content: center;
  }
  .wrapper{
    margin: 0 0 0 15px;
  }
  .profile-sec{
    align-content: center;
  }
  .profile-info{
    text-align: center;
    line-height: 2rem;
  }
  .profile-img{
    margin-left: 25px;
    width: 252px;
    height: 326px;
  }
  .main_name{
    text-align: center;
    font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) ));
  }
  li {
    float: none;
    margin-top: 10px;
    margin-right: 25px;
  }
   li:hover{
     /* color: var(--secondary); */
     /* -webkit-text-stroke: 1px var(--primary); */
     transform: none;
     text-shadow: none;
   }
  .header{
    padding: 15px 0 15px 0px;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  ul{
   margin-left: 30px;
   text-align: center;
  }
  .box{
    padding: 15px 0 15px 0;
    margin-bottom: 15px;
  }
  .content{
    padding: 15px 0;
    text-align: center;
  }
  .portfolio{
   padding: 15px 0;
   justify-content: center;
  }
  .footer{
    padding: 15px 0;
    text-align: center;
    font-size: 0.6rem;
  }
  .social{
    font-size: 0.6rem;
    line-height: 1rem;
  }
  .work{
    width: 280px;
    min-width: 260px;
    margin-left: 15px;
    margin-right: 10px;
    text-align: center;
  }
  .sidetext{
    display: none;
  }
  .card:hover{
     /* color: var(--secondary); */
     /* -webkit-text-stroke: 1px var(--primary); */
     transform: none;
     text-shadow: none;
  }
}
